:root {
	--base-background: rgba(255, 255, 255, 0.9);
	--base-text-color: rgb(0, 0, 0);
	--theme-color: rgb(0, 150, 136);
}

body {
	font-family: Arial, Helvetica, sans-serif;
	color: var(--base-text-color);
}

.background {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.master_container {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 80%;
	max-width: 600px;
	border-radius: 10px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
	padding: 20px;
}

.header {
	text-align: center;
	font-size: 20px;
	margin-bottom: 30px;
	width: 94%;
	padding: 10px;
	text-shadow: 0.25px 0.25px 5px rgb(100, 100, 100);
}

/* ################################################################ Browse Button/Label */
.browse input[type=file] {
	width: 97%;
	font-size: 15px;
	cursor: pointer;
	margin-bottom: 15px;
	margin-top: 5px;
	padding: 5px;
	border-radius: 20px;
	background-color: var(--base-background);
	border: 1px dashed var(--base-text-color);
}

.browse input[type=file]::file-selector-button {
	cursor: pointer;
	padding: 5px;
	border-radius: 20px;
	background-color: var(--theme-color);
}

.browse input[type=file]::file-selector-button:hover {
	transition: .2s ease-in-out;
	;
	box-shadow: 100px 0px 100px var(--theme-color);
}

/* ################################################################ Checkbox */
.checkbox-wrapper {
	display: block;
	margin: 5px 0;
}

.checkbox-wrapper label {
	display: inline-block;
	vertical-align: middle;
	margin-left: 5px;
}

/* ################################################################ Extract button */
.extract-button input[type=submit] {
	font-size: 20px;
	width: 100%;
	padding: 14px 20px;
	margin: 30px 0;
	border: none;
	cursor: pointer;
	border-radius: 20px;
	box-shadow: 0px 0px 5px rgb(90, 90, 90);
	background-color: var(--theme-color);
}

.extract-button:hover input[type=submit] {
	cursor: pointer;
	transition: 0.35s;
	box-shadow: 0px 0px 30px rgb(90, 90, 90);
}

/* ################################################################ Footer */
.footer {
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	border: none;
	border-top: 1px solid rgb(183, 183, 183);
	border-radius: 5px;
	padding: 5px;
	text-align: right;
	font-size: 12px;
}