body {
	font-family: Arial, Helvetica, sans-serif;
}

.background {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.master_container {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 80%;
	max-width: 600px;
	border-radius: 10px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
	padding: 20px;
	text-align: center;
}

.header {
	text-align: center;
	font-size: 20px;
	margin-bottom: 30px;
	width: 94%;
	padding: 10px;
	text-shadow: 0.25px 0.25px 5px rgb(100, 100, 100);
}

input {
	width: 96%;
	font-size: 15px;
	padding: 10px 10px;
	margin: 10px 0;
	border: 0;
	border-bottom: 0.5px solid rgb(153, 153, 153);
	outline: 0;
	background: transparent;
	color: rgb(0, 0, 0);
	border-radius: 20px;
}

input[type=submit] {
	font-size: 15px;
	width: 100%;
	padding: 14px 20px;
	margin: 20px 0;
	border: none;
	cursor: pointer;
	border-radius: 20px;
	background-color: rgb(0, 150, 136);
}

.login:hover {
	transition: 0.35s;
	box-shadow: 0px 0px 30px rgb(90, 90, 90);
}

.footer {
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	border: none;
	border-top: 1px solid rgb(183, 183, 183);
	border-radius: 5px;
	padding: 5px;
	text-align: right;
	font-size: 12px;
}