body {
	background-color: rgb(0, 5, 5);
	font-family: Arial, Helvetica, sans-serif;
	color: rgb(183, 183, 183);
}

.master_container {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 20em;
	height: 18em;
	margin-top: -9em;
	margin-left: -10em;
}

.header {
	text-align: center;
	font-size: 20px;
	margin-bottom: 30px;
	width: 94%;
	padding: 10px;
	text-shadow: 0.25px 0.25px 5px rgb(100, 100, 100);
}

input[type=text],
input[type=password] {
	width: 94%;
	font-size: 11px;
	padding: 10px 10px;
	margin: 7px 0;
	border: 0;
	border-bottom: 0.5px solid rgb(153, 153, 153);
	outline: 0;
	background: transparent;
	color: white;
	border-radius: 10px;
}

input[type=submit] {
	font-size: 11px;
	width: 100%;
	padding: 14px 20px;
	margin: 20px 0;
	border: none;
	cursor: pointer;
	border-radius: 5px;
	box-shadow: 0px 0px 5px rgb(90, 90, 90);
	font-weight: bold;
	background-color: rgb(0, 150, 136);
}

.login:hover {
	cursor: pointer;
	transition: 0.35s;
	box-shadow: 0px 0px 30px rgb(90, 90, 90);
}

.forgot_pass {
	font-size: 11px;
}

.footer {
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	border: none;
	border-top: 1px solid rgb(183, 183, 183);
	border-radius: 5px;
	padding: 5px;
	text-align: right;
	font-size: 12px;
}