<!DOCTYPE html>
<html>

<head>
	<meta content="width=device-width, initial-scale=1" name="viewport"/>
	<Title>Home</Title>
	<link href="static/css/home_page_style.css" rel="stylesheet" type="text/css">
</head>

<body>
<div class="sidenav">
	<button class="dropdown-btn" id='drpDwnBtn'>Category<i class="down"></i></button>
	<div class="dropdown-container">
		<a href="#" id='drpDwn_RPHY' onclick="openCategory('RPHY')">RPHY</a>
		<a href="#" id='drpDwn_CTRL' onclick="openCategory('CTRL')">CTRL</a>
		<a href="#" id='drpDwn_PTP' onclick="openCategory('PTP')">PTP</a>
		<a href="#" id='drpDwn_STAT' onclick="openCategory('STAT')">STAT</a>
	</div>
	<a href="/about/">About</a>
	<a href="/logout/">Logout</a>
</div>

<div class="main">
		<span class="header_1">
			Polling Data|
		</span>
	<span class="header_2">
			Navigation: <span id='catName' onload="myFunction()">Category Name</span>/<span id='devID'
																							onload="myFunction()">Device ID</span>
		</span>
	<p class="date_time">Login Time: {{ time }}</p>
	<p class="date_time">Today's Date: {{ date }}</p>

	<button class="tablink_2" onclick="openDevice('001')"> 001</button>
	<button class="tablink_2" onclick="openDevice('541')"> 541</button>

</div>
<script src="static/js/home_page_script.js" type="text/javascript"></script>
</body>

</html>
