<!DOCTYPE html>
<html lang="en">
<head>
	<title>Text Analysis Results</title>
	<meta content="width=device-width, initial-scale=1" name="viewport"/>
	<link href="static/css/home.css" rel="stylesheet" type="text/css">
	<!--	<script src="static/js/home.js"></script>-->
</head>
<body>
<div class='master_container'>
	<div class="header">
		{% if user %}Welcome: {{ user }} {% endif %}
	</div>

	<div class="browse">
		<label for="input_file">Input File:</label>
		<input type="file" accept="text/plain" required="required" name="input_file" id="input_file">
	</div>
	<div class="browse">
		<label for="stopword_file">Stopword File:</label>
		<input type="file" accept="text/plain" required="required" name="stopword_file" id="stopword_file">
	</div>

	<div id="options_frame">
		<div class="checkbox-wrapper">
			<input type="checkbox" id="enable_console_prints" name="enable_console_prints" value="false">
			<label for="enable_console_prints">Console Logs</label>
		</div>
		<div class="checkbox-wrapper">
			<input type="checkbox" id="save_graph" name="save_graph" value="false">
			<label for="save_graph">Save Graph</label>
		</div>
		<div class="checkbox-wrapper">
			<input type="checkbox" id="save_wordcloud" name="save_wordcloud" value="false">
			<label for="save_wordcloud">Save Wordcloud</label>
		</div>

		<div class="extract-button">
			<input id="extract_button" type="submit" value="Extract">
		</div>
	</div>
</div>
<div class='footer'>NLP Tools &copy; 2023</div>
</body>
</html>