<!DOCTYPE html>
<html lang="en">

<head>
	<meta content="width=device-width, initial-scale=1" name="viewport"/>
	<Title>Login</Title>
	<link href="static/css/login.css" rel="stylesheet" type="text/css">
</Head>

<body>
<div class='master_container'>
	<div class="header">
		NLP Tools: Login
	</div>
	<form action="{{ url_for('login') }}" method="POST">
		{% if error %}<p class=error><strong>Error:</strong> {{ error }} {% endif %}
		{% if message %}<p class=error><strong></strong> {{ message }} {% endif %}
		<input class='login' name="username" placeholder="Username" type="text">
		<input class='login' name="password" placeholder="Password" type="password">
		<input class="login" type="submit" value="Login">
		<a class="signup" href="{{ url_for('signup') }}">Don't have an account? Signup here.</a>
	</form>
</div>
<div class='footer'>NLP Tools &copy; 2023</div>
</body>
</html>
